In [1]:
print("test")

test

In [3]:
import tensorflow as tf
print(tf.__version__)

2.1.0

In [6]:
import pandas as pd
df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                   'monkey', 'parrot', 'shark', 'whale', 'zebra']})

In [8]:
df.head(30)

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot
6      shark
7      whale
8      zebra